/* #root > div > div {
  display: inline-block;
} */

html,
body {
  height: 100%;
  width: 100%;
}

.MainUI {
  display: flex;
}

.Map {
  flex: 1;
}

.LeftPanel {
  display: flex;
  flex-direction: column;
}

.OutputData {
  width: 50vh;
  height: 49vh;
  border-right: 2px solid rgb(73, 73, 73);
  background-color: #9fc0c6ff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.UserInput {
  width: 50vh;
  height: 45vh;
  border-right: 2px solid rgb(73, 73, 73);
  background-color: #87bba2ff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ButtonBarMain {
  width: 50vh;
  height: 6vh;
  border-right: 2px solid rgb(73, 73, 73);
  background-color: #87bba2ff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Title {
  display: flex;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.Title img {
  /* float: left; */
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
